body {
    background-color: #e5e6eb;
}

@media (min-width: 768px) {
    #app .h-md-100 {
        height: 100%;
    }
}

#app .btn-primary,
#app .bg-primary {
    background-color: #275894 !important;
}

#app .text-primary {
    color: #275894 !important;
}

#app .table-app {
    background-color: #ffffff;
}

#app .thead-app {
    background-color: #f0f0f0;
    color: #767780;
}

#app .border-app {
    border-width: 2px !important;
    border-color: #a7a7a7 !important;
}

#navegacao {
    z-index: 1021;
    box-shadow: 2px 2px 20px #333333;
}

/**
Pode ser substituido por
.text-light
.text-left
 */
#navegacao .nav-link {
    color: #ffffff;
    text-align: left;
}

#app .text-secondary,
#navegacao .icon,
#navegacao .active,
#navegacao .nav-link:hover,
#navegacao .nav-link:focus {
    color: #37cfe3 !important;
}

@media (min-width: 768px) {
    #navegacao {
        max-width: 300px;
    }
}

#app main {
    max-width: 1280px;
}

