body {
    background-color: #e5e6eb;
}

#app .rounded-great {
    border-radius: 15px;
}

#app .btn-primary,
#app .bg-primary {
    background-color: #275894 !important;
}

#app .text-primary {
    color: #275894 !important;
}

#app .table-app {
    background-color: #ffffff;
}

#app .thead-app {
    background-color: #f0f0f0;
    color: #767780;
}

#app .border-app {
    border-width: 2px !important;
    border-color: #a7a7a7 !important;
}

#navegacao .nav-link {
    color: #ffffff;
}

#app .text-secondary,
#navegacao .active,
#navegacao .nav-link:hover,
#navegacao .nav-link:focus {
    color: #37cfe3 !important;
}

